/bin/*
!/bin/1
!/bin/calendar
!/bin/diff3
!/bin/false
!/bin/lint
!/bin/lookbib
!/bin/lorder
!/bin/man
!/bin/nohup
!/bin/pcc
!/bin/plot
!/bin/spell
!/bin/struct
!/bin/true
/boot
/bs
/bs.c
/dev
/etc/*
!/etc/group
!/etc/passwd
!/etc/rc
!/etc/ttys
/hphtunix
/hptmunix
/lib
/rphtunix
/rptmunix
/unix
/usr/dict
/usr/doc
/usr/games
/usr/lib
/usr/man
/usr/mdec
/usr/pub
/usr/spool
/usr/sys/sys/LIB1
/usr/sys/dev/LIB2
/usr/sys/bcm283x/LIB3
*.o
*.a
*.bin
*.elf
*.lst
*.log
*.fs
*.img
*.aout
screenlog.0
/tools/mkfs
*.dSYM
/tools/tmp.v7.etc.ddate
.*.swp
/tools/p*-files.txt
/tools/p*-dirs.txt
/tools/yacc/yacc
/usr/src/cmd/lex/y.tab.c
